@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Waqas Home Page 1 </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Custom Waqas's new Page 1</a>.</p>
</div>
